[user]
        email = 
        name = 
        signingkey = 
[core]
        editor = nvim
        longpaths = true
        autocrlf = true
[commit]
        gpgSign = true
[tag]
        forceSignAnnotated = true
[alias]
        pl = pull
        cm = commit -m
        cam = commit -am
        st = status
        br = branch
        ps = push
        cl = clone
        sw = switch
        undo = reset HEAD~
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        lgp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -p

[gpg]
        program = gpg2
[gui]
        pruneduringfetch = true
        encoding = UTF-8
[push]
        recurseSubmodules = check
[gc]
        autoDetach = false
