# system
alias _='sudo'
alias __='sudo -i'
alias se='sudo -e'
alias sctl='sudo systemctl'
alias lctl='loginctl'

# package manager
alias zi='sudo zypper in'
alias zu='sudo zypper dup'
alias zr='sudo zypper rm'

alias fin='flatpak install'
alias frm='flatpak remove --delete-data'
alias fup='flatpak update'
alias fupp='flatpak update --appstream'

alias zf='sudo zypper dup --no-confirm && flatpak update -y --noninteractive'

# colorls
alias ls='colorls --sd'
alias la='colorls -a --sd'
alias ll='colorls -lA --sd'
alias l='colorls --sd'

# dev
alias pm='pnpm'
alias lg='lazygit'
alias g='git'
alias gsy='git pl && git ps'
alias y='yarn'
alias b='bun'
alias box='distrobox'
alias pdm='podman'
alias dpr='doppler run --'

# Working Directory
alias ff='yy'
alias cwda='cd ~/Documents/Acads'
alias cwd='cd ~/Projects'
alias cwdl='cd ~/Projects/libs'

# config
alias vbrc='vi ~/.bashrc'
alias vprof='vi ~/.profile'
alias vbas='vi ~/.alias'
alias vzj='vi ~/.config/zellij/config.kdl'
alias ssha='eval `ssh-agent -s`'

# edit/system
alias inf='fastfetch'
alias cat='bat'
alias vi='nvim'
alias vgit='nvim ~/.gitconfig'
alias gef='gnome-text-editor'

# services
alias plex='sudo systemctl start plexmediaserver'
alias splex='sudo systemctl stop plexmediaserver'
alias bt='sudo systemctl start bluetooth'
alias sbt='sudo systemctl stop bluetooth'
alias smbs='sudo systemctl start smb'

# etc
alias cls='clear'
alias k='clear'
alias rcref='. ~/.bashrc'

# some distros requires superuser
alias bye='sudo shutdown now'

